extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="add-estimation", method="post")
    div.input
      span.label User Name
      input(type="text", name="UserName")
    div.input
      span.label Password
      input(type="text", name="Password")
    div.input
      span.label Email
        input(type="text", name="Email")
    div.actions
      input(type="submit", value="add")